body {
    background: #eee url(../pics/sativa.png);
}

.form-control {
    color: #555;
    font-size: 18px;
    background-color: #eee;
    border-radius: 20px;
    padding: 20px;
}

.btn-default {
    background-color: #eee;
}

/* 页脚 */
.bs-docs-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 300px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
    font-size: 16px;
}

/*页面内容字体*/
body, button, input, select, textarea {
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
    background-color: #eee;
}